div.border-box {display: none !important;}

div.outer-container:nth-child(2) > div.main-container > div.border-box.mobile-fixed-ad.show-mobile:nth-child(7) {display: none !important;}

div[id^="dfp-ad-"] {display: none !important;}

div[id^="dfp-ad-"] {display: none !important;}


.top-banner-ad-container {display: none !important;}
.adSense {display: none !important;}
